@model Sips.ViewModels.ItemVM

@{
    ViewData["Title"] = "ItemCreate";

}

<h1>Add New Product</h1>

@* <h4>Item</h4> *@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ItemCreate" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BasePrice" class="control-label"></label>
                <input asp-for="BasePrice" class="form-control" />
                <span asp-validation-for="BasePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inventory" class="control-label"></label>
                <input asp-for="Inventory" class="form-control" />
                <span asp-validation-for="Inventory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemTypeId" class="control-label"></label>
                <select asp-for="ItemTypeId" class="form-control" asp-items="ViewBag.ItemTypes">
                    <option value="">Select from Item Type options</option>
                </select>  
                <span asp-validation-for="ItemTypeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control"
                    type="file" accept="image/*" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>

            </div>



           @*  <div class="container my-5">
                <div class="jumbotron text-center">
                    <h2 class="display-4" style="color:blue">Save Image</h2><br />

                    @if (ViewData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @ViewData["SuccessMessage"]
                        </div>
                    }

                    <div class="row">
                        <div class="col-sm-6 offset-3">
                            <form method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <input asp-for="ImageFile" class="form-control"
                                           type="file" accept="image/*" />
                                    <span asp-validation-for="ImageFile"
                                          class="text-danger"></span>
                                </div><br /><br />
                                <button type="submit" class="uploadButton">
                                    <img src="~/images/SaveImage.png" alt="Upload Image" />
                                </button>
                            </form>
                        </div>
                    </div>
                </div> *@
            @* </div> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ItemIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
