<div id="admin-page">
    <a asp-area="" asp-controller="Role" asp-action="Index">
        <button type="button" class="btn btn-info admin-buttons">Roles</button>
    </a>
    <a asp-area="" asp-controller="UserRole" asp-action="Index">
        <button type="button" class="btn btn-info admin-buttons">User Roles</button>
    </a>
</div>

