@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">

<div class="container">
    <div class="containerbackground">
    404
    </div>
</div>

<div class="text">
<p>
    "Uh-oh, it seems our bubble tea has gone on a little adventure!

    While we hunt down the runaway tapioca,
    why not enjoy some virtual tea leaves reading?

    Or just sit back, relax, and pretend you're sipping on your favorite flavor.
    We'll have this page brewing again in no time!"
</p>
</div>




  <style> 
        .container { 
            position: relative; 
        } 
  
        .containerbackground { 
            font-family: 'Pixelify Sans', sans-serif;
            margin: -5rem; 
            font-size: 28rem;   
            position: absolute; 
            left: 150px;
            z-index: -1;
            color: #c6afaf;
    } 

        .text {
            font-size:1rem;
            font-family: 'Pixelify Sans', sans-serif;
            max-width: 75%;
            margin-top: 230px;
            margin-bottom: 1rem;
            margin-left: 7rem;
        }
    </style> 


@* <h2 class="text-danger">An error occurred while processing your request.</h2> *@

@* @if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
} *@

@* <h3>Development Mode</h3>
<p>
    Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
</p> *@

