<div class="paypal-container">
<<<<<<< HEAD
    <p>Your transaction was successful</p>
=======
    <p>Your bubble tea has been ordered! Thank you for ordering from SIPS!</p>
>>>>>>> 5cc76708a12990ce4dbc178d57fffdc945195e54
    <p><span>Keep this transaction ID for future reference:</span> @Model.TransactionId</p>
</div>