@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Sips Menu";
}

<div class="menu-container">
    <div class="menuindex-description">
        <h2>SIPS BUBBLE TEA MENU</h2>
        <p>
            Welcome to Sips, where refreshment meets innovation. Dive into the creamy allure of our Milk Tea, savor the
            natural burst of flavors in our Fruit Tea, or indulge in the frosty goodness of our Slush offerings. Customize
            your experience with a range of toppings, from chewy boba pearlsto fruity bubbles. At Sips, your perfect
            blend awaits – join us for a taste adventure!
        </p>
    </div>

    <h1 class="text-center">Discover</h1>

    <div class="drink-images">
        <div class="row">
            <div class="col-md-4">
                <a href="@Url.Action("MilkTea", "Menu")">
                    <h4>Milk Teas</h4>
                    <img src="~/images/milk-tea.jpeg" alt="Milk Tea" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4">
                <a href="@Url.Action("FruitTea1", "Menu")">
                    <h4>Fruit Teas</h4>
                    <img src="~/images/fruit-tea.jpeg" alt="Fruit Tea" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4">
                <a href="@Url.Action("Slush", "Menu")">
                    <h4>Slushes</h4>
                    <img src="~/images/slush.jpeg" alt="Slush" class="img-fluid">
                </a>
            </div>
        </div>
    </div>

    <div class="customize-order">
        <h2 class="customize-order-text">Customize your order however you'd like</h2>
    </div>
</div>
