@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Item>

<div class="tea-container">
    <h1>Slushes</h1>
</div>

<div class="tea-list">
    @foreach (var tea in Model)
    {
        <div class="tea-item">
            <img src="" alt="@tea.Name" class="img-fluid">
            <div class="tea-copy">
            <h2>@tea.Name</h2>
 
            <p>Description: @tea.Description</p>
            <p>Price: $@tea.BasePrice.ToString()</p>
            </div>
            <div class="tea-btns">
            <button>Add to Cart</button>
            <button>Customize</button>
            </div>
        </div>
    }
</div>