@{
    ViewData["Title"] = "Home Page";
}

<div class="banner-container">
    <div class="banner-heading">
    <h1 class="main-heading">Welcome to Sips!</h1>
    <p class="promo">Save 10% on all milk teas!</p>
    </div>

    <div class="banner-btns">
    <button class="banner-cta register-btn">Create Account</button>
    <button class="banner-cta learn-more-btn">Learn More</button>
    </div>
</div>

<div class="our-teas">
    <div class="tea milk-tea">
        <h3 class="our-teas-title">Milk Tea</h3>
    </div>
    <div class="tea fruit-tea">
        <h3 class="our-teas-title">Fruit Tea</h3>

    </div>
    <div class="tea slush-tea">
        <h3 class="our-teas-title">Slush</h3>

    </div>

</div>
