@{
    ViewData["Title"] = "Home Page";
}

<div class="banner-container">
    <div class="banner-heading">
    <h1 class="main-heading">Welcome to Sips!</h1>
    <p class="promo">Save 10% on all milk teas!</p>
    </div>

    <div class="banner-btns">
        <a href="/Identity/Account/Register" class="banner-cta register-btn">Create Account</a>
        <a href="/Home/About" class="banner-cta learn-more-btn">Learn More</a>
    </div>
</div>

<h2 class="subheading">Our Teas</h2>
<div class="our-teas">
   
    <div class="tea milk-tea">
        <h3 class="our-teas-title">Milk Tea</h3>
    </div>
    <div class="tea fruit-tea">
        <h3 class="our-teas-title">Fruit Tea</h3>

    </div>
    <div class="tea slush-tea">
        <h3 class="our-teas-title">Slush</h3>

    </div>

</div>

<div class="home-about-container">
    <div class="home-boba-img">
        <img src="/images/boba-03.png" alt="boba graphic image" />
    </div>
        <div class="home-copy">
            <h2> Your Oasis of Flavorful Delights</h2>
            <p>Step into the enchanting world of Sips, where every bubble tea is a crafted masterpiece and every visit is a journey of taste and texture. At Sips, we transcend the ordinary, offering an oasis of delightful concoctions that redefine your bubble tea experience. Our commitment to quality starts with sourcing the finest tea leaves and extends to the meticulous preparation of our signature bubbles, ensuring</p>
            <p>Indulge in a menu that caters to every palate, from classic favorites to innovative blends. Whether you're seeking a moment of relaxation or a vibrant social space, Sips is your go-to destination. Join us in sipping, savoring, and sharing the joy of exceptional bubble tea at Sips – where flavor meets passion, and every cup is a celebration.</p>
       
    </div>
</div>