body {
    font-family: 'Quicksand', 'sans-serif';

    cursor: url('/images/resize-cursor.png')16 16, auto;
    margin-bottom:0;

}

body:hover {
    cursor: url('/images/resize-cursor.png') 16 16, auto;

}

html {
    
}
h1,h2,h3,h5,h6{
    font-weight:700;
}
.sips-nav {
    background: #E4F2EE;
}
.sips-logo-nav{
    width:100px;
}
.sips-nav-link {
    color: #519389;
    text-decoration: none;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
}
.logo-container-nav{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
.nav-item a {
    color: #519389;
}
.banner-btns{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    margin:10px auto;
    width:600px;
}
.banner-container{
    background:url('/images/home-bg.jpg');
    width:100%;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    height:350px;
    justify-content:center;
}
.banner-heading{
    display:flex;
    flex-direction:column;
    text-align:center;
    justify-content:center;
    align-items:center;
}
.contact-body {
    display: flex;
    justify-content: space-between
}

#contact-address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-cta{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    margin: 0 5px;
    border:none;
    width:180px;
    height:45px;
    border-radius: 5px;
    color:#fff;
    font-weight:700;
}
.register-btn {
    background: #B090C5;
}
.learn-more-btn {
    background: #A3CCFF;
}

.our-teas {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 10vh auto;
    justify-content: center;
    align-content: center;
    height: 200px;
}

.tea {
    display: flex;
    flex-direction: row;
    width: 33%;
    margin: 0 5vh;
    text-align: center;
    background: #efefef;
    align-items: center;
    justify-content: center;
}

.tea-button {
    border: none;
    background: transparent;
    cursor: pointer;
}



.subheading{
    display:flex;
    flex-direction:row;
    width:100%;
    margin: 5vh auto;
    text-align:center;
    justify-content:center;
    align-items:center;
}
.home-about-container{
    display:flex;
    flex-direction:row-reverse;
    width:85%;
    justify-content:center;
    align-items:center;
    margin:0 auto;
}


/*about page style****************************/
.about-page{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
/*Admin page style****************************/
.admin-buttons {
    width: 200px;
    height: 200px;
    border: 200px;
    background-color:paleturquoise;
}

#admin-page {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    /*justify-content:space-around;*/
    align-content: center;
    align-items: center;
}


.home-boba-img{
    display:flex;
    flex-direction:column;
    width:300px;
}
.home-copy{
    display:flex;
    flex-direction:column;
    text-align:left;
}

/*REG page style****************************/
.sip-reg{
    display:flex;
    flex-direction:column;
    width:33%;
    margin: 0 20px;
}
.sip-reg-container{
    display:flex;
    flex-direction:column;
    width:85%;
    margin:0 auto;
}
.container-sips{
    display:flex;
    flex-direction:column;
    margin:0 auto;
    text-align:center;
}
#registerForm{
    display:flex;
    flex-direction:row;
    margin:10px 0;
}
.btn-primary {
    background: #78AAA7;
    border: none;
}
    .btn-primary:hover {
        background: #519389;
    }
/*Footer Styling*/
footer{
    display:flex;
    flex-direction:column;
    position:relative;
}
.nav-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 150px;
    width: 100%;
    margin: 0 auto;
    background: #E4F2EE;
    padding:30px 50px;
    color:#444444;
}
.site-map li{
    list-style:none;
    margin:0;
}
.nav-footer ul{
    margin:0;
    padding:0;
}
.social-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.social-item img{
    display:flex;
    flex-direction:row;
    width:20px;
}
.social-item{
    list-style:none;
    display:flex;
    flex-direction:row;
}
.footer-copy{
    font-size:12px;
    line-height:16px;
    margin:0;
}
.bottom-footer {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #A3CCFF;
    height:50px;
    color:#fff;
}
.footer-copy a{
    color:#444;
    text-decoration:none;
}
.footer-copy a:hover {
    color: #fff;
}